body {
  width: 800px;
  margin: 45px auto 60px;
  font-family: "Montserrat", sans-serif;
}

.bardo {
  color: rgb(139, 2, 2);
}

.blue {
  color: rgb(91, 76, 193);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.b-i {
  font-weight: bold;
  font-style: italic;
}

h1 {
  text-align: center;
}

h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url(./favicon-JS-09_cbw.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 40px auto 25px;
}

details {
  margin-left: 40px;
}

summary {
  font-size: 23px;
  font-weight: 700;
  padding: 15px 0;
  text-align: justify;
}

summary:hover {
  cursor: pointer;
}

p {
  font-size: 18px;
  hyphens: auto;
  padding: 0 25px;
  text-align: justify;
  text-indent: 45px;
}

li {
  margin: 0 5px 0 45px;
}
